.legend-title {
    font-weight: bold;
    text-transform: capitalize;
}

.time-title {
    font-weight: bold;
}

#clicked {
    stroke: orange !important;
    stroke-width: 8px !important;
    fill: #70808080 !important;
}