.legend-title {
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-title {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.state1-label {
    font-weight: bold;
}

.state2-label {
    font-weight: bold;
}

.y-axis-label {
    font-size: small;
}

#BlackBar {
    fill: blueviolet;
}

#WhiteBar {
    fill: chocolate;
}

#HispanicBar {
    fill: cornflowerblue
}

#AsianBar {
    fill: darkgreen
}

#American_Indian_Alaska_NativeBar {
    fill: gold
}

#Native_Hawaiian_Other_Pacific_IslanderBar {
    fill: hotpink
}

#Two_or_more_racesBar {
    fill: lawngreen
}


/* For when states are clicked */

#clicked {
    stroke: rgb(95, 95, 95) !important;
    stroke-width: 6px !important;
    /* margin: 3px !important; */
    /* outline: 5px solid red !important; */
    /* fill: rgba(0,0,0,.6) !important;  */
    /* opacity: 0.5; */
    /* background: rgba(100, 0, 0, 0.8) !important;  */
}


/* For when times are selected */

#selected {
    fill: #70808080 !important;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30pt;
}

text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#personIcon {
    font-size: 2px;
}